*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
error-logcat.txt
system_requirements.txt
BLACK_BOX_TEST_SCENARIO.txt
kerangka_proposal_skripsi.txt
PROMPT_ML_DEVELOPMENT.txt